<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Meus contratos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    
  <div id="container">
    
    <ion-grid fixed>
      <ion-row>
        <ion-col size="3">Taxa final</ion-col>
        <ion-col size="3">Valor inicial</ion-col>
        <ion-col size="3">Valor final</ion-col>
        <ion-col size="3">Tempo de pagamento</ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid fixed>
      <ion-row *ngFor="let item of contratos">
        <ion-col size="3">{{item.taxafinal.toFixed(2)}}</ion-col>
        <ion-col size="3">{{item.valorinicial.toFixed(2)}}</ion-col>
        <ion-col size="3">{{item.valorfinal.toFixed(2)}}</ion-col>
        <ion-col size="3">{{item.tempofinal}} {{item.tipotempofinalstr}}</ion-col>
      </ion-row>
    </ion-grid>

    <br>
    <br>
    <ion-button (click)="pedidos()">Meus pedidos<ion-icon slot="icon-only" name="checkmark"></ion-icon></ion-button>
  </div>
</ion-content>
