<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Meus pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    
  <div id="container">
    
    <ion-grid fixed>
      <ion-row>
        <ion-col size="3">Valor total</ion-col>
        <ion-col size="3">Pedido em</ion-col>
        <ion-col size="3">Aceito em</ion-col>
        <ion-col size="3">Cancelar pedido</ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid fixed>
      <ion-row *ngFor="let item of pedidos">
        <ion-col size="3">{{item.valor}}</ion-col>
        <ion-col size="3">{{item.criadostr}}</ion-col>
        <ion-col size="3">{{item.aceitostr}}</ion-col>
        <ion-col size="3">          
          <ion-button [disabled]='item.aceitostr' shape="round" size="small" color='danger' (click)="cancelarPedido(item)">
            <ion-icon slot="icon-only" name="close-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <br>
    <br>
    <ion-button (click)="novoPedido()">Novo pedido<ion-icon slot="icon-only" name="checkmark"></ion-icon></ion-button>
  </div>
</ion-content>
